<div class="row align-items-center h-100 auth">
    <div class="col">
        <form
            id="start-game-form"
            class="d-flex justify-content-center"
        >
            <div>
                <label 
                    for="username" 
                    class="sr-only"
                >
                    Username
                </label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="username"
                    id="username"
                    placeholder="Username"
                >
            </div>
            <button 
                type="submit" 
                class="btn btn-dark ml-1 d-flex align-self-center"
            >
                Start game
            </button>
        </form>
    </div>
</div>