<div class="row align-items-center h-25 game d-none">
    <div class="col">
        lives left:
        <span id="attempts-left">
            <i class="fas fa-heart"></i>
        </span><br/>
        score:
        <span id="score">
            0
        </span><br/>
        high score:
        <span id="high-score">
            0
        </span>
    </div>
</div>
<div class="row align-items-center h-75 game d-none">
    <div 
        id="hidden-word"
        class="col-8 text-center large_text"
    >
        _____
    </div>
    <div class="col-4">
        {% for symbol in symbols %}
            <button class="btn btn-dark symbol">{{ symbol }}</span>
        {% endfor %}
    </div>
</div>