<div class="row align-items-center h-75 try-again d-none">
    <div class="col text-center large_text lost">
        YOU'VE LOST
        <i class="fas fa-frown"></i>
    </div>
    <div class="col text-center large_text won">
        YOU'VE WON
        <i class="fas fa-smile"></i>
    </div>
</div>
<div class="row align-items-center h-25 try-again d-none">
    <div class="col d-flex justify-content-center">
        <button 
            id="try-again-btn"
            type="submit"
            class="btn btn-dark mb-2"
        >
            Try again
        </button>
    </div>
</div>